.architects-section {
    padding: 40px;
    background-color: #DDE4EA;
}

.arch-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.arch-list-heading {
    color: #291A2D;
    font-family: Playfair;
    font-weight: 700;
    font-size: 40px;
}

.search-form {
    width: 25%;
}

.search-box {
    border-radius: 10px;
}

.search-box::placeholder {
    font-style: italic;
    color: #C2C2C2;
}

.arch-fio {
    font-family: Playfair;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
}

.arch-descr {
    font-family: Playfair;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 992px) {
    .arch-wrapper {
        flex-direction: column;
    }

    .search-form {
        width: 90%;
        padding-top: 30px;
    }
}