.architect-section
{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: rgba(168, 131, 160, 0.8);
    align-items: center;
}

.architect-card {
    background: linear-gradient(260.17deg, rgba(90, 71, 85, 0.84) 34.17%, rgba(144, 140, 138, 0.84) 94.62%) !important;
    border: none !important;
    width: 80%;
    flex-direction: row !important;
    align-items: center;
}

.architect-photo {
    width: 20% !important;
    filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.25));
}

.architect-name, .architect-years {
    font-family: Playfair;
    font-weight: 500;
    color: white;
    font-size: 30px !important;
}

.architect-description {
    font-family: Playfair;
    font-weight: 400;
    color: white;
    font-size: 17px;
    width: 100%;
}

.works-carousel {
    margin-top: 40px;
    width: 90%;
    text-align: center;
}

.carousel-image {
    max-width: 90% !important;
}

.carousel-caption {
    font-family: Playfair;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: static !important;
}

.video-wrapper {
    margin-top: 20px;
    width: 70%;
    height: 700px;
}

.person-video {
    width: 100%;
    height: 70% !important;
}

@media only screen and (max-width: 992px) {
    .architect-photo {
        height: 40% !important;
        width: 40% !important;
    }

    .architect-section {
        width: 100% !important;
    }

    .architect-card {
        flex-direction: column !important;
        align-items: center !important;

    }

    .video-wrapper {
        height: 500px;
    }

    .architect-info {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .architect-section {
        width: 100% !important;
    }

    .architect-card {
        flex-direction: column !important;
        align-items: center !important;

    }

    .architect-info {
        text-align: center;
    }

    .architect-photo {
        height: 60% !important;
        width: 60% !important;
    }

    .video-wrapper {
        height: 400px;
        width: 95%;
    }
}