/*Custom fonts*/
@font-face {
  font-family: Playfair;
  src: url("./fonts/PlayfairDisplay-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Playfair;
  src: url("./fonts/PlayfairDisplay-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Playfair;
  src: url("./fonts/PlayfairDisplay-Bold.ttf");
  font-weight: 700;
}

/*Default CSS*/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-style: normal;
}


